/* @import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap'); */
*{margin: 0; padding: 0; box-sizing: border-box;}

html,body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    
}

#main {
    width: 100%;
    background-color:#000000;
    color: #fff;
}

#header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #04072e;
    color: #fff;
    padding: 8px 6%;
    height: 10vh;
    position: fixed;
    box-shadow: -5px 5px 30px #3b3b3b;
    z-index: 9999;
    top: 0;
}

#header nav .logo h1{
    font-size: 2rem;
    border: 3px solid transparent;
    padding: 8px;
    transition: 0.5s;
}
#header nav .logo h1 span{
    font-size: 2.2rem;
    color: #faca22;
}
#header .logo a{
    text-decoration: none;
    color: #fff;
}
#header nav .logo h1:hover{
    color: #faca22;
    border: 3px solid #faca22;
    border-radius: 15px;
    border-top-left-radius: 0;
    cursor: pointer;
}


/* nav-menu */
#header nav .nav-menu .fas{
    display: none;
}
#header nav .nav-menu li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
#header nav .nav-menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}
#header nav .nav-menu li a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -5px;
    background-color: #faca22;
    transition: all 0.5s;
}
#header nav .nav-menu li a:hover::after{
    width: 100%;
}



/* Home Content */
.home-content {
    width: 100%;
    height: 100vh;
    background: url(./assets/banner_background.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 8% 6% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CV Download Button  */
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
  

.home-content .left .name {
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    animation-delay: 1.0s;
}
.home-content .left .name span{
    color: #faca22;
}
.home-content .left .profession{
    text-align: center;
   font-size: 1.9rem;
   margin: 10px 0;
   color: rgb(255, 255, 86);
   animation-delay: 1.2s;
}
.home-content .left .hi{
    font-size: 3rem;
    text-align: center;
    margin: 10px 0;
    animation-delay: 0.5s;
}
.banner-description{
    display: flex;
    justify-content: center;
}
.home-content .left .desc{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    width: 45%;
    animation-delay: 1.7s;
}
.home-content .left .btn-cv{
    display: inline-block;
    font-size: 15px;
    padding: 10px 15px;
    margin: 10px 15px;
    background-color: #faca22;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.5s;
    color: #12131e;
    animation-delay: 1.9s;
    
}

.home-content .left .btn-cv:hover{
    transform: scale(1.1);
}



/* Right content  */

.home-content .right a {
    display: block;
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    margin-top: 12px;
    padding: 6px 9px;
    border-radius: 50%;
    text-align: center;
    transition: all  0.3s;
    animation-delay: 1s;
}
.home-content .right a:hover {
    box-shadow: -2px -2px 2px 1px #faca22;
    
}


/* About section  */

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 6%;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
}

#about .edu p {
    letter-spacing: 1px;
    line-height: 25px;
}

#about .left{
    flex-basis:36%;
}
#about .left img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
}
#about .right{
    flex-basis: 60%;
}
.right .titles h2 {
    font-size: 42px;
    color: aliceblue;
}
.right .titles h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 20px;
}
.right .titles p {
    font-size: 17px;
    letter-spacing: 1px;
    margin: 8px 0 50px;
}
.right .tabs {
    display: flex;
    gap: 55px;
    font-size: 20px;
    margin: 0 0 20px;
}
.right .tab-contents ul {
    list-style: none;
}
.right .tab-contents ul li{
    margin: 25px 0;
}
.right .tab-contents ul li h4{
    font-weight: 500;
    color: #faca22;
    margin: 5px 0;
}


/* skills section */

#skills {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}
.header{
    text-align: center;
    color: #fff;
    padding: 0.5rem;
    margin-top: 80px;
    position: relative;
}
.header:after{
    content: "";
    position:absolute ;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 100px;
    background-color: #faca22;
    border-radius: 3px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.3rem;
}
.skill-box {
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}
.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before {
    width: 35px;
}
.skill-box:hover .img{
    transform: translateY(-10px);
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.skill-title::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #faca22;
    transition: 0.5s;
}
.skill-title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #faca22;
    transition: 0.5s;

}
.skill-icon {
    width: 50px;
    z-index: 2;
}
.img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
}
.skill-title h3{
    color: #fff;
    margin-top: 0.5rem;
}



/* contact section */

#contact {
    width: 100%;
    background-color: #faca22;
    text-align: center;
    padding: 20px 4% 50px;
    min-height: 80vh;
}
#contact .titles h2{
    color: #fff;
    font-weight: 550;
    font-size: 45px;
}
#contact .titles h3{
    font-weight: 500px;
    padding: 10px 0 0 0;
}
#contact .contact{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    
}

.contact .contact-left{
    flex-basis: 50%;
}
.contact .contact-left form{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}
.contact .contact-left form input, textarea, button{
   padding: 15px 10px;
   font-size: 18px;
   border: none;
   outline: none;
   border-radius: 10px;
   margin: 15px;
}
.contact .contact-left form textarea{
    height: 150px;
    resize: none;
 }
 .contact .contact-left form button{
    text-transform: uppercase;
    background-color: #12131e;
    color: #faca22;
    transition: all 0.5s;
 }
 .contact .contact-left form button:hover{
    transform: scale(0.95);
 }
.contact .contact-right{
    flex-basis: 45%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #12131e;
}
.contact .contact-right .col{
    display: flex;
    margin-top: 25px;
    gap: 15px;
}
.contact .contact-right .col i {
    font-size: 30px;
}
.contact .contact-right .col info h4{
    font-size: 25px;
}
footer{
    font-size: 20px;
    color: #000000;
    margin-top: 100px;
    margin-bottom: -10px;
}



/* transition icons */
.trans {
    .icon-box:hover > .icon-title:after, .icon-box:hover > .icon-title:before {
        width: 35px;
    }
    .icon-box:hover .img{
        transform: translateY(-10px);
    }
    
    
    
    .icon-title::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 50%;
        width: 0;
        height: 4px;
        border-radius: 2px 0 0 2px;
        background-color: #faca22;
        transition: 0.5s;
    }
    
    .icon-title::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 4px;
        border-radius: 0 2px 2px 0;
        background-color: #faca22;
        transition: 0.5s;
    
    }

}


.home-content .right a:hover {
    border: 3px solid #faca22;
    scroll-behavior: smooth;
    padding: 5px;
}





/* Responsive */

@media (max-width:900px) {
    #header nav .nav-menu .fas{
        display: block;
        color: #faca22;
        font-size: 22px;
        cursor: pointer;
    }
    #header nav .nav-menu ul{
        background-color: #12131e;
        border-radius: 18px;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 50vh;
        padding-top: 90px;
        z-index: 2;
        transition: all 0.5s;
        text-align: center;
    }

    #header nav .nav-menu ul li{
        color: #faca22;
        margin-top: 25px;
        display: block;
    }
    #header nav .nav-menu ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /* home section */
    
    .home-content .left .name {
        font-size: 1.5rem;
    }
    .home-content .left .profession{
       font-size: 0.8rem;
       font-weight: 400;
       color: rgb(255, 255, 86);
    }
    .home-content .left .desc{
        font-size: 14px;
        font-weight: 400;
        width: 55%;
    }
    .home-content .left .btn-cv{
        font-size: 13px;
    }
    
    /* Right content  */
    
    .home-content .right a {
        font-size: 15px;
    }
    

/* About section  */

#about .left{
    flex-basis:40%;
}
#about .left img{
    width: 250px;
    border-radius: 50%;
}

.right .tabs {
    display: flex;
    gap: 55px;
    font-size: 20px;
    margin: 0 0 20px;
}
.right .tab-contents ul {
    list-style: none;
}
.right .tab-contents ul li{
    margin: 25px 0;
}
.right .tab-contents ul li h4{
    font-weight: 500;
    color: #faca22;
    margin: 5px 0;
    font-size: 18px;
}
    
/* skills section  */

#skills .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
}

/* contact section */

#contact .titles h2{
    font-size: 35px;
}
#contact .titles h3{
    font-weight: 450px;
    font-size: 15px;
    padding: 5px 0 0 0;
}
.contact .contact-left{
    flex-basis: 50%;
}
.contact .contact-left form{
    padding: 10px 15px;
}
.contact .contact-left form input, textarea, button{
   padding: 12px 10px;
   font-size: 16px;
   border: none;
   outline: none;
   border-radius: 10px;
   margin: 15px;
}

 .contact .contact-left form button{
    padding: 11px 10px;
    font-size: 16px;
 }

.contact .contact-right{
    flex-basis: 25%;
    margin-left:35px ;
}
.contact .contact-right .col{
    margin-top: 20px;
    
}
.contact .contact-right .col i {
    font-size: 25px;
}
.contact .contact-right .col info h4{
    font-size: 22px;
}
footer{
    font-size: 18px;
    color: #000000;
    margin-top: 200px;
    margin-bottom: -50px;
}
   
}





@media (max-width: 550px) {
    
#header nav .logo h1{
    font-size: 1.7rem;
    border: 2px solid #faca22;
    padding: 5px;
    border-radius: 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;

}
#header nav{
    height:10vh;
}
#header nav .logo h1 span{
    font-size: 2rem;
    color: #faca22;
}
.h1 .name {
    padding: 10px ;
}
    #skills .container {
        grid-template-columns: 1fr;
        padding: 2rem 50px;
    }
    .home-content .left .desc {
        font-size: 12px;
        width: 75%;
        padding: 15px 0;
    }
    .home-content .left .btn-cv {
        font-size: 10px;
        padding: 7px;
        border-radius: 20px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    /* about section */
    #about {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 6%;
    }
    #about .right{
        text-align: center;
        
    }
    #about .left{
        flex-basis:80%;
    }
    #about .left img{
        width: 300px;
        border-radius: 50%;
        text-align: center;
    }
    #about .right{
        flex-basis: 60%;
    }
    .right .titles h2 {
        font-size: 42px;
        color: aliceblue;
    }
    .right .titles h3 {
        font-size: 20px;
        font-weight: 500;
        margin: 10px 0 20px;
    }
    .right .titles p {
        width: 300px;
        font-size: 17px;
        margin: 8px 0 50px;
        text-align: left;
        letter-spacing: 0.5px;
    }
    .right .tabs {
        display: flex;
        gap: 55px;
        font-size: 14px;
        margin: 0 0 20px;
    }
    .right .tab-contents {
        text-align: left;
    }
    .right .tab-contents ul li{
        margin: 25px 0;
    }
    .right .tab-contents ul li h4{
        font-weight: 500;
        color: #faca22;
        margin: 5px 0;
    }
    /* contact */

    #contact .titles h2{
        font-size: 35px;
    }
    #contact .titles h3{
        font-weight: 450px;
        font-size: 15px;
        padding: 5px 0 0 0;
    }
    #contact .contact{
        flex-wrap: wrap;
    }
    .contact .contact-left{
        flex-basis: 100%;
    }
    .contact .contact-left form{
        padding: 10px 10px;
    }
    .contact .contact-left form input, textarea, button{
       padding:10px;
       text-align: center;
       font-size: 16px;
       border: none;
       outline: none;
       border-radius: 10px;
       margin: 15px;
    }
    
     .contact .contact-left form button{
        padding: 11px 10px;
        font-size: 16px;
     }
    
    .contact .contact-right{
        flex-basis: 100%;
        margin-left:35px ;
    }
 
    footer{
        font-size: 14px;
        color: #000000;
        margin-top: 80px;
        margin-bottom: -30px;
    }
  
}





/* Animation effect */
.anim {
    opacity: 0;
    transform: translateY(40px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
